.main-block {
  padding-bottom: 386px;
  min-height: 100vh;
}

.main-block__container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100vh;

  .main-block-item__center {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: $white;
  
    .inner__top {
      text-align: center;
    }

    @media (max-width: 600px) {
      .inner__top {
        margin-top: 50px;
      }
    }

    .inner__bottom {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      max-width: 570px;

      margin-top: 16px;
  
      .banner__input-box {
        display: flex;
        flex-basis: 48%;
      
        min-width: 270px;
        min-height: 50px;
      
        margin-bottom: 1.5rem;
      }

      @media (max-width: 600px) {     
        .banner__input-box {
          flex-basis: 100%;
        }
      }

      .banner__btn {
        width: 100%;
        height: 57px;
      }

    }
  } 
}