@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  color: #cacaca;

  font-weight: 400;
  font-size: 18px;

  font-family: 'Roboto', sans-serif;

  line-height: 1.5;

  background: #08020d;
}

.h1,
.h2,
.h1-mobile,
.h2-mobile {
  font-weight: 700;

  .upper {
    text-transform: uppercase;
  }
}

@media (min-width: 415px) {
  .h1 {
    font-size: 60px;
  }

  .h2 {
    font-size: 38px;
  }
}

@media (max-width: 414px) {
  .h1 {
    font-size: 30px;
  }

  .h2 {
    font-size: 18px;
  }
}