* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  width: 100%;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;

  overflow-x: hidden;

  color: $dark-gray;

  background: $bg-black;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  font-family: 'Roboto', sans-serif;
}

h1,
h2 {
  font-weight: 700;

  color: $white;

  text-transform: uppercase;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 38px;
}

a {
  color: $white;

  text-decoration: none;
  text-transform: uppercase;
}

img {
  vertical-align: middle;
  border: none;
}

.container {
  margin-right: auto;
  margin-left: auto;

  max-width: 1200px;
  min-width: 280px;
}

.bg-banner {
  background-image: $bg-banner;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.btn {
  text-align: center;
  text-transform: uppercase;

  color: $white;

  background-color: $bg-green;

  border: none;
  border-radius: 5px;

  cursor: pointer;
}

.input-box {
  padding-left: 20px;

  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.17;

  color: $white;

  background-color: rgba($white, 0);

  border: 2px solid $dark-gray;
  border-radius: 3px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }

  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
}
