
$bg-green: #34c176;
$bg-orange: #f89202;
$bg-purple: #5328a1;
$bg-brown: #95390c;
$bg-gray: #e0e0e0;
$bg-dark-gray: #cacaca;
$bg-dark: #3c3b3d;
$bg-banner: url(../images/banner.png);
$bg-black: #08020d;
$bg-footer: linear-gradient(265.08deg, #95390c 14.9%, #5328a1 68.95%);

$gray: #e0e0e0;
$white: #fff;
$dark-gray: #cacaca;